<div class="row">
    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
        <div class="main-left-sidebar no-margin">
            <div class="user-data full-width">
                <div class="user-profile">
                    <div class="username-dt">
                        <div class="usr-pic">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="user-specs">
                        <h3>John Doe</h3>
                        <span>Cool Man</span>
                    </div>
                </div>
                <ul class="user-fw-status">
                    <li>
                        <h4>Following</h4>
                        <span>34</span>
                    </li>
                    <li>
                        <h4>Followers</h4>
                        <span>155</span>
                    </li>
                    <li>
                        <a>View Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>