<body>
    <div class="main-page">
        <div class="main row">
            <div class="col-lg-6">
                <div class="cm-logo">
                    <p><a routerLink="/" style="color:#000000; font-weight: bold;"><img src="../../assets/Screen Shot 2019-09-23 at 12.29.26 PM.png"></a>, A social network that brings everyone together.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <ul class="sign-control">
                        <li><a routerLink="/sign-in" id="swap">Sign in</a></li>
                        <li><a routerLink="/sign-up" id="swap">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>